td {
    border: 0.2rem solid black;
    width: 5rem;
    height: 5rem;
}

.container {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
}

#popUp {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 87, 139, 0.9);
}

.popText {
    display: flex;
}

.acept {
    display: block;
}